body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: rgb(228, 240, 230);
}

#contact {
  background-color: rgb(228, 240, 230);
}

section {
  padding-top: 5rem;
}

.tinggi {
  height: 200px;
}

/*  featured of me */
.featured-title {
  padding: 30px 0px 20px 0px;
  border-bottom: 1px dotted #ccc;
  font: bold 21px arial, helvatica, sans-serif;
}

.featured-link {
  display: block;
  color: #000;
  font: bold italic 19px Times, "Times New Roman", serif;
  padding: 20px 40px;
  border-bottom: 1px dotted #ccc;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.featured-link span {
  display: block;
  float: right;
  color: #999999;
  font-weight: normal;
  font-size: 16px;
}

.featured-link:hover {
  color: #b31500;
  padding-left: 5px;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.info-btn {
  float: left;
  display: block;
  font: bold 1;
  padding: 10px;
  margin-top: 15px;
}

/* CSS Calculator */
#calculator {
  width: 320px;
  height: 520px;
  background-color: #eaedef;
  margin: 0 auto;
  top: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result {
  height: 120px;
}
#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}
#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}
#keyboard {
  height: 400px;
}
.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-size: 15px;
  font-weight: bold;
}
.number,
.empty {
  background-color: #eaedef;
}
.operator {
  background-color: lightgrey;
}
.number,
.operator {
  cursor: pointer;
}
.number:active,
.operator:active {
  font-size: 13px;
}
.number:focus,
.operator:focus,
.empty:focus {
  outline: 0;
}
button:nth-child(4) {
  font-size: 20px;
  background-color: #20b2aa;
}
button:nth-child(8) {
  font-size: 20px;
  background-color: #ffa500;
}
button:nth-child(12) {
  font-size: 20px;
  background-color: #f08080;
}
button:nth-child(16) {
  font-size: 20px;
  background-color: #7d93e0;
}
button:nth-child(20) {
  font-size: 20px;
  background-color: #9477af;
}
